.grid-wrapper{
/* Displays a grid */
display: grid;
width: 100vw;
height: 100vh;

/* grid-template-rows == gridRows
       grid-template-columns == gridColumns
    */
    grid-template-rows: 1fr 2fr 3fr .5fr;
    grid-template-columns: 2fr 1.2fr 1fr 1fr;
    grid-template-areas:

/* 1fr = 20-30px depending on the size of ur screen */

/* Whenever you create grids and columns u have to have the same
amount of items to match the grids and rows, see above and below */
        "header     header     header    navbar"
        "content1    content2  content2  navbar"
        "content1    content2  content2  navbar"
        "footer      footer    footer    footer"
}

.header{
    grid-area: header;
    background-color: aquamarine;
    padding-left: 15px;
    padding-top: 30px;
    margin-top:10px;
    margin-left: 10px;
}

.content1{
    grid-area:content1;
    background-color: aquamarine;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 15px;
}

.content2{
    grid-area: content2;
    background-color: aquamarine;
    margin-left: 10px;
    margin-top:10px;
    padding-left: 15px;
}
.nav{
    margin-top: 10px;
    grid-area:navbar ;
    background-color: aquamarine;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
    padding-left: 30px;
}
.footer{
    grid-area: footer;
    margin: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-left: 10px;
    background-color: aquamarine;

}
.grid-wrapper{
    background-color: black;
}

.nav2{padding-top: 100px;
    
}
.nav3{padding-top: 150px;
}